 
div.br1 { height: 100px; }
div.br2 { height: 40px; }

div.center { text-align: center; }

img.large { max-width: 400px; }

div.license {
  display: inline-block;
  width: 500px;
  text-align: justify;
  padding: 5px; 
  border: 1px solid grey;
}